@import "compass/css3/transition";

.index.admin_expedientes tr {
  td.html_descrip p {
    @include transition("all 2s");
    max-height: 2.6em;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &:hover {
    td {
      background-color: $selected-row-color;
    }
    td.html_descrip p {
      max-height: 600px;
    }
  }
}

